extends layout

block content
  h1= title

  ul
  each author in author_list
    li
      a(href=author.url) #{author.name}
      | (#{author.birth_of_birth_format} - #{author.birth_of_death_format})
      | (寿命：#{author.lifespan})

  else
    li There are no authors.
